<!-- <form class="container contact-form border-light p-5" [formGroup]="form" >

    <p class="h4 mb-4">Enter details to Add Payment </p>

    <label>Payment No</label>
    <input disabled type="text" id="paymentNo" [(ngModel)]="Pay.paymentNo" name="paymentNo"  class="form-control mb-4" placeholder="Name" formControlName="paymentNo" [ngClass]="{'is-invalid':form.get('paymentNo').touched && form.get('paymentNo').invalid}" >
    <div class="invalid-feedback">
        <div>Input is required </div>
    </div>

    <label>Invoice No</label>
    <input type="text" id="invoiceNo" [(ngModel)]="Pay.invoiceNo" name="invoiceNo"  class="form-control mb-4" placeholder="Number" formControlName="invoiceNo" [ngClass]="{'is-invalid':form.get('invoiceNo').touched && form.get('invoiceNo').invalid}" >
    <div class="invalid-feedback">
        <div>Input is required </div>
    </div>

    <label>Payment Date</label>
    <div class="form-group">
        <input type="date" id="paymentDate" [(ngModel)]="Pay.paymentDate" name="paymentDate"  class="form-control my-input" formControlName="paymentDate" [ngClass]="{'is-invalid':
        form.get('paymentDate').touched && form.get('invoiceDate').invalid}">
        <div *ngIf="form.get('paymentDate').touched && form.get('paymentDate').invalid" class="invalid-feedback">
            <div *ngIf="form.get('paymentDate').errors.required">Input is required </div>
        </div>
    </div>

    <label>Payment Amount</label>
    <input type="number" id="paymentAmount" [(ngModel)]="Pay.paymentAmount" name="paymentAmount"  class="form-control mb-4" placeholder="Name" formControlName="paymentAmount" [ngClass]="{'is-invalid':form.get('paymentAmount').touched && form.get('paymentAmount').invalid}" >
    <div class="invalid-feedback">
        <div>Input is required </div>
    </div>

    <div class="text-center">
        <button class="btn btn-info btn-min-width" style=" margin-top: 10px; margin-right: 5px; text-align: center;" name="submit_reg" value="Register" [disabled]="!form.valid" (click)="Updatedata()" type="submit" >Submit</button>
        <button class="btn btn-info btn-min-width" style=" margin-top: 10px; text-align: center;" name="submit_reg" value="Register" type="submit" routerLink = "/ListPayment">Go to List</button>
    </div>
        <router-outlet></router-outlet>
</form> -->


<div class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Payment</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Update Payment</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->

                <!-- Row -->
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h3 class="m-b-0 text-white">Enter details to update payment </h3>
                            </div>
                            <div class="card-body m-t-15">
                                <form  class="form-horizontal form-bordered" [formGroup]="form">
                                    <div class="form-body">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-2">Payment No</label>
                                            <div class="col-md-9">
                                                <input disabled type="text" class="form-control" id="paymentNo" [(ngModel)]="Pay.paymentNo" name="paymentNo"  placeholder="Payment Number" formControlName="paymentNo" [ngClass]="{'is-invalid':form.get('paymentNo').touched && form.get('paymentNo').invalid}" >
                                                <div class="invalid-feedback">
                                                    <div>Input is required </div>
                                                </div>
                                                <!-- <small class="form-control-feedback">Example : CT00001</small>  -->
                                            </div>
                                        </div>
                                        <!-- <div class="form-group row">
                                            <label class="control-label text-right col-md-2">Invoice No</label>
                                            <div class="col-md-9">
                                                <input disabled type="text" class="form-control" id="invoiceNo" [(ngModel)]="Pay.invoiceNo" name="invoiceNo"  placeholder="Invoice Number" formControlName="invoiceNo" [ngClass]="{'is-invalid':form.get('invoiceNo').touched && form.get('invoiceNo').invalid}" >
                                                <div class="invalid-feedback">
                                                    <div>Input is required </div>
                                                </div>
                                            </div>
                                        </div> -->

                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-2">Invoice No</label>
                                            <div class="col-md-9">
                                                <select class="form-control" (click)="abs()" [(ngModel)]="Pay.invoiceNo" name="invoiceNo" formControlName="invoiceNo" [ngClass]="{'is-invalid':
                                                form.get('invoiceNo').touched && form.get('invoiceNo').invalid}">
                                                    <option *ngFor="let dep of depList" [ngValue]="dep.invoiceNo">{{dep.invoiceNo}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row " *ngIf="show">
                                            <label class="control-label text-right col-md-2">Invoice Details</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="card" style="width: 70%;">
                                                <div class="media">
                                                <table class="form-group row " >
                                                    <thead *ngFor="let list of Invoice">  
                                                        <tr>    
                                                            <td>Invoice No</td>&nbsp;&nbsp;<td>:</td>&nbsp;&nbsp;<td>{{list.invoiceNo}}</td>
                                                        </tr>
                                                        <tr>    
                                                            <td>Customer No</td>&nbsp;&nbsp;<td>:</td>&nbsp;&nbsp;<td>{{list.customerNo}}</td>
                                                        </tr>
                                                        <tr>    
                                                            <td>Invoice Date</td>&nbsp;&nbsp;<td>:</td>&nbsp;&nbsp;<td>{{list.invoiceDate | date :"dd-MMM-yy"}}</td>
                                                        </tr>
                                                        <tr>    
                                                            <td>Invoice Amount</td>&nbsp;&nbsp;<td>:</td>&nbsp;&nbsp;<td>{{list.invoiceAmount}}</td>
                                                        </tr>
                                                        <tr>    
                                                            <td>Payment DueDate</td>&nbsp;&nbsp;<td>:</td>&nbsp;&nbsp;<td>{{list.paymentDueDate | date :"dd-MMM-yy"}}</td>
                                                        </tr>  
                                                    </thead> 
                                                </table>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-2">Payment Date</label>
                                            <div class="col-md-9">
                                                <input type="date" id="paymentDate" [(ngModel)]="Pay.paymentDate" name="paymentDate" class="form-control" formControlName="paymentDate" [ngClass]="{'is-invalid':
                                                form.get('paymentDate').touched && form.get('paymentDate').invalid}">
                                                <div *ngIf="form.get('paymentDate').touched && form.get('paymentDate').invalid" class="invalid-feedback">
                                                    <div *ngIf="form.get('paymentDate').errors.required">Input is required </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-2">Payment Amount</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" id="paymentAmount" [(ngModel)]="Pay.paymentAmount" name="paymentAmount"  placeholder="Payment Amount" formControlName="paymentAmount" [ngClass]="{'is-invalid':
                                                form.get('paymentAmount').touched && form.get('paymentAmount').invalid}" >
                                                <div class="invalid-feedback">
                                                    <div>Input is required </div>
                                                </div>
                                                <!-- <small class="form-control-feedback">Example : CT00001</small>  -->
                                            </div>
                                        </div>
                                    
                                        
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="offset-sm-3 col-md-9">
                                                        <button type="submit" class="btn-rounded btn-success" value="Register" [disabled]="!form.valid" (click)="Updatedata()" > <i class="fa fa-check"></i> Submit</button>&nbsp;&nbsp;&nbsp;
                                                        <!-- <button type="button" class="btn-rounded btn-inverse">Cancel</button> -->
                                                    </div>
                                                </div>
                                                <button type="submit" class=" btn-rounded btn-warning" style=" text-align: center; float:right;" routerLink = "/Navbar/ListPayment"  > <i class="fa fa-check"></i> Back to List</button>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved. Made by Nisarg Prajapati <a href="https://github.com/Jacksparrow-II">Jacksparrow-II</a></footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <router-outlet></router-outlet>
</div>