<!-- <div class="card-header" style="text-align: center;  margin-left:50px; margin-right:50px; margin-bottom:50px; font-weight:bold; font-size:xx-large;">  
    Stridely Solutions
</div>  -->
  
<!-- <form class="container contact-form border-light p-5"  > -->
 
<h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Times, serif; text-overflow: clip; margin-top: 100px;font-size: 80px; text-align: center; padding-top: 40px; color:rgb(0, 0, 0);">
    Welcome to Web Page
</h1>

<h2 style="font-family:'Segoe UI'; text-overflow: clip; margin-top: 5px;font-size: 40px; text-align: center; padding-top: 40px; color:rgb(0, 0, 0);">
    We suggest a perfect product
</h2>

    <!-- <p class="h4 mb-4">Welcome to Web Page </p> -->

    <!-- <button routerLink = "/List-Employee" class="btn btn-info btn-block" name="submit_reg" value="Register"  type="submit">User</button>
    <button routerLink = "/Admin-page" class="btn btn-info btn-block" name="submit_reg" value="Register" type="submit">Admin</button> -->
    
<!-- </form> -->
